<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chi tiết sản phẩm</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/css/style-home.css" />
  </head>
  <body>
    <div class="container">
      <!-- header-menu -->
      <div class="header">
        <div class="logo">
          <img src="../img/logo_smart_book.jpg" alt="" />
        </div>
        <nav>
          <ul>
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Sản phẩm</a></li>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Liên hệ</a></li>
          </ul>
        </nav>
        <div class="box">
          <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search..." />
          </div>
          <div class="cart_user">
            <div class="cart">
              <a href="">
                <i class="fa-solid fa-cart-shopping" style="color: black"></i>
              </a>
            </div>
            <div class="user">
              <a href="">
                <i class="fa-solid fa-user" style="color: black"></i>
              </a>
            </div>
          </div>
        </div>
      </div>






    <!--Giỏ hàng-->
      <div class="wrap__cart">
        <div class="cart__title">
        <h1>Giỏ hàng của bạn</h1>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">Sản phẩm</div>
            <div class="col-2">Đơn giá</div>
            <div class="col-2">Số lượng</div>
            <div class="col-2">Số tiền</div>
        </div>
        <div class="cart__items">
          <div class="row cart__item">
            <div class="col-2 align__item"><input type="checkbox">
              <i class="fa-solid fa-trash"></i></div>
            <div class="col-4 cart__item-product">
                <div class="cart__img">
                    <img src="../assets/img/sp1.jpg" alt="">
                </div>
                <div class="cart__content">
                  <div class="cart__name">T-Shirt thể thao Team Whales</div>
                <div class="cart__color"><b>Màu: </b><span class="blue">Blue</span></div>
                <div class="detail_category">Danh mục : <span>Quần áo Bóng đá</span></div>

                </div>
                
            </div>
            <div class="col-2 align__item">999 000 vnđ</div>
            <div class="col-2 align__item">
              <div class="quantity"> <div class="decrease">-</div><div class="number">1</div> <div class="increase">+</div></div>
            
          </div>
            <div class="col-2 align__item">999 000 vnđ</div>
          </div>
        <div class="row cart__item">
          <div class="col-2 align__item"><input type="checkbox">
            <i class="fa-solid fa-trash"></i></div>
          <div class="col-4 cart__item-product">
              <div class="cart__img">
                  <img src="../assets/img/sp1.jpg" alt="">
              </div>
              <div class="cart__content">
                <div class="cart__name">T-Shirt thể thao Team Whales</div>
              <div class="cart__color"><b>Màu: </b><span class="blue">Blue</span></div>
              <div class="detail_category">Danh mục : <span>Quần áo Bóng đá</span></div>

              </div>
              
          </div>
          <div class="col-2 align__item">999 000 vnđ</div>
          <div class="col-2 align__item">
            <div class="quantity"> <div class="decrease">-</div><div class="number">1</div> <div class="increase">+</div></div>
          
        </div>
          <div class="col-2 align__item">999 000 vnđ</div>
      </div>
        </div>
        
        <!-- <div class="cart__items">
            <div class="cart__item">
                <input type="checkbox">
                <div class="cart__img">
                    <img src="../assets/img/sp1.jpg" alt="">
                </div>
                
            </div>
        </div> -->
        <div class="choice__delete">
          <div class="choice">
            Chọn tất cả
        </div>
        <div class="delete">
          Xóa mục đã chọn
      </div>
      <div class="tongtien">
        Tổng tiền: <span>999 000 vnđ</span>
      </div>
      <div class="thanhtoan">
        Thanh Toán
      </div>


        </div>
       
      </div>
 
     








      <!-- footer -->
      <div class="footer">
        <div class="main_foot">
          <div class="foot1">
            <div class="service">
              <ul>
                <h3>CHH SPORT</h3>
                <li>
                  <a href=""
                    >Chúng tôi luôn trân trọng và mong đợi nhận được mọi ý kiến
                    đóng góp từ khách hàng <br />
                    để có thể nâng cấp trải nghiệm dịch vụ và sản phẩm tốt hơn
                    nữa.</a
                  >
                </li>
              </ul>
            </div>
            <div class="icon">
              <i class="fa-brands fa-facebook" style="color: blue"></i>
              <i class="fa-brands fa-tiktok" style="color: black"></i>
              <i class="fa-brands fa-youtube" style="color: red"></i>
            </div>
          </div>
          <hr style="background-color: rgb(219, 216, 216)" />
          <div class="foot2">
            <div class="service">
              <ul>
                <h3>Chính sách</h3>
                <li><a href="">Chính sách đổi trả</a></li>
                <li><a href="">Chính sách khuyến mãi</a></li>
                <li><a href="">Chính sách bảo mật</a></li>
                <li><a href="">Chính sách giao hàng</a></li>
              </ul>
            </div>
            <div class="address">
              <ul>
                <h3>Địa chỉ liên hệ</h3>
                <li>
                  <a href=""
                    >Văn phòng Cầu Diễn: Tầng 3-4, Tòa nhà BMM, KM5, Đường
                    <br />Cầu Diễn, Phường Kiều Mai, Quận Nam Từ Liêm, TP Hà
                    Nội</a
                  >
                </li>
                <li><a href="">Hotline: 1900.272786 - 028.7777.6837</a></li>
                <li><a href="">Email: CHHsport@gamil.com</a></li>
              </ul>
            </div>
            <div class="care">
              <ul>
                <h3>Chăm sóc khách hàng</h3>
                <li><a href="">Trải nghiệm mua sắm hài lòng 100%</a></li>
                <li><a href="">Hỏi đáp-FQAs</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
